#main-pagination {
    text-align: center;
    padding: 20px 0;

    .pagination-box {
        font-size: 11.2px;
        padding: 5px 6px;
        border-radius: 20%;
        color: $blue;
        background-color: $white;
        display: inline-block;
        margin: 5px;
        padding: 5px 8px;
        transition: 0.4s;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            background: $blue;
            color: $white;
        }
    }
}